<!DOCTYPE html>
<html>
<head>
<title><%= siteName %> | <%= title %></title>
<%- include('./partials/meta') %> 
<%- include('./partials/styles') %>
</head>
<body>
<header>This is A Header</header>
<%- include(`../pages/${template}`) %> 
<%- include('./partials/scripts') %>
</body>
</html>
