<!DOCTYPE html>
<html>
<head>
<title><%= siteName %> | <%= title %></title>
<%- include('./partials/meta') %> 
<%- include('./partials/styles') %>
</head>
<body>
<div class="loader">loading...</div>
<header class="row flex flex-middle flex-center">This is A Header</header>
<%- include(`../pages/${template}`) %> 
<%- include('./partials/scripts') %>
</body>
</html>
